################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DockerWebApp/.vs/DockerWebApp/v16/Server/sqlite3
